@import url(./variable.css);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.spider {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/clockbg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 12px 24px;
    position: relative;

}

.miles-morales {
    background-color: black !important;
    min-height: 100vh;
    width: 100%;
    padding: 12px 24px;
    position: relative;
    font-family: var(--miles-font) !important;
    color: white;
    background-image: url(./assets/milesbg.png) !important;
    background-position: center !important;
    background-size: 780px !important;
}

.clock span {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.Date span {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.shadow-box {
    box-shadow: 15px 0px 40px black;
    border-radius: 14px;
    padding: 6px 6px;
    min-width: 480px;
    position: relative;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(80px);
}

.nav {
    background-color: rgba(0, 0, 0, 0.507) !important;
    --bs-nav-link-hover-color: red !important;
    position: absolute;
    top: 20px;
    right: 120px ;
    /* left: 20px; */
    width: auto !important;
}

.nav .active {
    color: black !important;
    font-weight: 500;
}

.nav-item:hover {
    color: red !important;
}

/* Mobile Responsive */


@media screen and (max-width: 480px) {

    .shadow-box {
        max-width: 100%;
        min-width: 280px !important;
    }

    .miles-morales {
        background-size: cover !important;
    }
    .nav{
        right: 20px !important;
    }
}

@media screen and (max-width: 320px) {

    .shadow-box {
        max-width: 70%;
        min-width: 280px !important;
    }

    .miles-morales {
        background-size: cover !important;
        font-size: 16px !important;
         gap: 0.6rem !important;
    }
    .nav{
        right: 20px !important;
    }
    .Date span{
        font-size: 16px !important;
    }
    .clock {
        gap: 0.6rem !important;
    }
}